Create a 1D array of 20 random integers between 1 and 100. Replace all values:
< 30 → "Low"
30–70 → "Medium"
70 → "High"

In [1]:
import numpy as np

In [2]:
arr=np.random.randint(1,101,size=20)
arr

array([86, 32, 99, 41, 69, 63, 53, 47,  7, 30, 75, 22, 32, 22, 72, 95, 36,
       13, 73, 58])

In [3]:
arr1=np.where(arr<30,"Low",
              np.where(arr<=70,"Medium","High"))
arr1

array(['High', 'Medium', 'High', 'Medium', 'Medium', 'Medium', 'Medium',
       'Medium', 'Low', 'Medium', 'High', 'Low', 'Medium', 'Low', 'High',
       'High', 'Medium', 'Low', 'High', 'Medium'], dtype='<U6')

use Titanic dataset and NumPy to calculate:
1. The number of passengers over age 50
2. The mean fare paid by those passengers

In [4]:
import pandas as pd

In [6]:
df = pd.read_csv("C:\\Users\\devic\\Documents\\PYTHON\\SURE_TRUST\\Sure_Trust_Assignments\\TEST\\Titanic-Dataset.csv")

In [7]:
df=df.dropna(subset=['Age','Fare'])
ages=df['Age'].to_numpy()
fares=df['Fare'].to_numpy()
over_50_mask=ages>50
passengers_over_50=ages[over_50_mask]
fares_over_50=fares[over_50_mask]

In [8]:
print(len(passengers_over_50))
print(len(fares_over_50))

64
64